.container{
    width: 1000px;
    height: auto;
    margin: 0 auto;
    border: solid black;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-image: url("../img/padded.png");
}

.two-row-window{
    // border: solid blue;
    width: 470px;
}


.piano-window{
    border: solid black;
    background-image: url("../img/black_mamba.png");

}

.icons{
    background-image: url("../img/ep_naturalblack.png");
    border :  5px solid #470303;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.icon{
    width: 90px;
    height: 75px;
    border: 5px solid black;
    margin: 5px;
    border-radius: 10px;
    background: #d7dce0;
  background-image: -webkit-linear-gradient(top, #5e5e60, #17191c);
  background-image: -moz-linear-gradient(top, #5e5e60, #17191c);
  background-image: -ms-linear-gradient(top, #5e5e60, #17191c);
  background-image: -o-linear-gradient(top, #5e5e60, #17191c);
  background-image: linear-gradient(to bottom, #5e5e60, #17191c);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    text-decoration: none;
}


.icon:hover {
    background: #afb6ba;
    background-image: -webkit-linear-gradient(top, #ef3532, #770705);
    background-image: -moz-linear-gradient(top, #ef3532, #770705);
    background-image: -ms-linear-gradient(top, #ef3532, #770705);
    background-image: -o-linear-gradient(top, #ef3532, #770705);
    background-image: linear-gradient(to bottom, #ef3532, #770705);
    text-decoration: none;
}




.huge-window{
    border: solid aquamarine;
    width: 470px;

    background-image: url("../img/mahony.png");
}
