@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin2 {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.mixer{
    height: 200px;
    width: auto;
    border: solid brown;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    background-image: url("../img/mixerback.png");
    background-size: cover;

}

.vinyl-left{

    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-image: url("../img/vinyl.png");
    background-position: center;
    background-size: contain;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 5000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 5000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 5000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;



}


.vinyl-right{

    border-radius: 100px;
    width: 150px;
    height: 150px;
    background-image: url("../img/vinyl2.png");
    background-position: center;
    background-size: contain;

    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    animation-name: spin2;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;




}


.vinyl-settings{
    // border: solid yellow;
    width: 140px;
}

.vinyl-box-left{
    // border: solid blue;
    height: 160px;
}

.vinyl-box-right{
    // border: solid blue;
    height: 160px;
}

.vinyl-section{
    // border: solid orange;
    display: flex;
    justify-content: space-around;
}

.scroll-section{
    // border: solid green;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-top: 10px;

    height: 100px;
    width: auto;
    background-image: url("../img/logomusic.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.my-song{
    height: 120px;
    width: auto;
    border: solid orange;
}
.recorder{
    height: 130px;
    width: auto;
    border: solid red;
}
